{% extends "AppProyecto/padre.html" %}

{% load static %}

{% block titulo %}
    <h1>Bienvenidos a la página de proveedores</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h1>Proveedores</h1>

<form action="" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Agregar">

</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>CUIT</th>
            <th>Email</th>
            <th>Condicion_pago</th>
        </tr>
    </thead>
    <tbody>
        
        {% for proveedor in proveedores %}
        <tr>
            <td>
                {{ proveedor.id }}
            </td>
            <td>
                {{ proveedor.nombre }}
            </td>
            <td>
                {{ proveedor.apellido }}
            </td>
            <td>
                {{ proveedor.CUIT }}
            </td>
            <td>
                {{ proveedor.email }}
            </td>
            <td>
                {{ proveedor.condicion_pago }}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}